body {
  margin: 0;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
  line-height: 1.1;
  padding: .5rem;
}

.navbar-dark {
  height: 3.5rem;
  background-color: rgb(33, 37, 41);
  color: rgb(255, 255, 255, .6);
}

.navbar-dark .active {
  color: rgb(255, 255, 255);
}

nav.navbar-light ul {
  font-weight: 400;
  font-size: .875rem;
}

.navbar-light {
  background-color: #d8d8d8;
  height: 3.5rem;
  color: rgba(0,0,0,.6);
}

.navbar-light .active {
  color: rgba(0,0,0);
}

.navbar-nav {
  gap: 0.5rem;
}

.navbar .container {
  justify-content: center;
}

#small {
  display: none;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0 0.5rem;
}

@media(max-width: 600px) {
  main, nav {
    display: none;
  }

  #small {
    display: block;
  }
}

main {
  padding-top: 1.5rem;
  max-width: 1320px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem .5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input.form-control-sm {
  width: 4em;
  padding: 0;
  padding-left: 0.5em;
  min-height: unset;
}

#graph {
  max-width: 600px;
  margin: 0 auto 2rem;
}

.bk-root .bk-right .bk-toolbar-button.bk-active {
  border-left-color: slategrey;
}