<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" >
</head>

<body>
  <h1>Test Home Page</h1>

  <label for="math">Function to Graph:</label>
  <select id="math" onchange="handleChange()">
    <option value="sin" selected>Sin</option>
    <option value="cos">Cos</option>
  </select>
  <label for="coef">Coeficient:</label>
  <input id="coef" type="number" value="1" onchange="handleChange()">
  <br>
  <img id="graph" src="/sin/1">
  <script type="text/javascript" src="{{ url_for('static', filename='home.js')}}" ></script>
</body>