<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='/base.css')}}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar-dark">
      <ul>
        <li id="homelink">
          <a href="/">Home</a>
        </li>
        <li id="waveslink">
          <a href="/waves">Waves</a>
        </li>
        <li id="curveslink">
          <a href="/curves">Curves</a>
        </li>
      </ul>
    </nav>
    <div id="small">
      This page requires a minimum width of 600px.
    </div>
    {% block secnav %}{% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.3/dist/purify.min.js" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
