{% extends 'base.html' %}

{% block head %}
  <title>Curves</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/curves.css')}}" >
{% endblock %}

{% block content %}
  <h1 class="my-3">Curves</h1>

  <form class="row row-cols-auto align-items-center justify-content-center">
    <div class="mb-3 mb-0-md px-0">
      <label for="math" class="col-form-label py-0 mb-1">Function to Graph:</label>
      <select id="math" class="form-control-sm mx-2" onchange="handleFuncChange()">
        <option value="quad" selected>Quadratic (a(x)&sup2; + b(x))</option>
        <option value="pow">Power (a(x)&#x1d47;)</option>
        <option value="exp">Exponential (a(b)&#x02e3;)</option>
        <option value="expf">Exponential Fraction (a(1/b)&#x02e3;)</option>
        <option value="ln">Natural Log (a(ln(x))+b)</option>
        <option value="log">Logarithm (a(log(x))+b)</option>
      </select>
    </div>
    <div class="mb-3 mb-0-md px-0">
      <label for="a" class="col-form-label py-0 mb-1">a:</label>
      <input
        id="a"
        class="form-control-sm mx-2 pe-0"
        type="number"
        value="1"
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
    <div class="mb-3 mb-0-md px-0">
      <label for="b" class="col-form-label py-0 mb-1">b:</label>
      <input
        id="b"
        class="form-control-sm mx-2 pe-0"
        type="number"
        value="0"
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
  </form>
  <img id="graph" src="/quad/1/0">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', path='/curves.js')}}" ></script>
{% endblock %}
