{% extends 'base.html' %}

{% block head %}
  <title>Curves</title>
{% endblock %}

{% block secnav %}
<nav id="secnav" class="navbar-light">
  <ul>
    <li data-value="quad">
      <a href="/curves/quad">Quadratic<br/>(a(x)&sup2; + b(x))</a>
    </li>
    <li data-value="pow">
      <a href="/curves/pow">Power<br/>(a(x)&#x1d47;)</a>
    </li>
    <li data-value="exp">
      <a href="/curves/exp">Exponential<br/>(a(b)&#x02e3;)</a>
    </li>
    <li data-value="expf">
      <a href="/curves/expf">Exponential Fraction<br/>(a(1/b)&#x02e3;)</a>
    </li>
    <li data-value="ln">
      <a href="/curves/ln">Natural Log<br/>(a(ln(x))+b)</a>
    </li>
    <li data-value="log">
      <a href="/curves/log">Logarithm<br/>(a(log(x))+b)</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <form>
    <div>
      <label for="a">a:</label>
    </div>
    <div>
      <input
        id="a"
        class="form-control-sm"
        type="number"
        value="1"
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
    <div>
      <label for="b">b:</label>
    </div>
    <div>
      <input
        id="b"
        class="form-control-sm"
        type="number"
        value={{b}}
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
  </form>
  <div id="graph" />
{% endblock %}

{% block scripts %}
  {{ js_resources|safe }}
  <script type="text/javascript">let math = {{ curve | tojson }};</script>
  <script type="text/javascript" src="{{ url_for('static', path='/curves.js')}}" ></script>
{% endblock %}
