{% extends 'base.html' %}

{% block head %}
  <title>Curves</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/curves.css')}}" >
{% endblock %}

{% block secnav %}
<nav id="secnav" class="navbar navbar-expand sticky-top navbar-light">
  <div class="container">
    <ul class="navbar-nav mt-2 mt-lg-0 font-weight-bold">
      <li class="nav-item" data-value="quad">
        <a class="nav-link" href="/curves/quad">Quadratic<br/>(a(x)&sup2; + b(x))</a>
      </li>
      <li class="nav-item" data-value="pow">
        <a class="nav-link" href="/curves/pow">Power<br/>(a(x)&#x1d47;)</a>
      </li>
      <li class="nav-item" data-value="exp">
        <a class="nav-link" href="/curves/exp">Exponential<br/>(a(b)&#x02e3;)</a>
      </li>
      <li class="nav-item" data-value="expf">
        <a class="nav-link" href="/curves/expf">Exponential Fraction<br/>(a(1/b)&#x02e3;)</a>
      </li>
      <li class="nav-item" data-value="ln">
        <a class="nav-link" href="/curves/ln">Natural Log<br/>(a(ln(x))+b)</a>
      </li>
      <li class="nav-item" data-value="log">
        <a class="nav-link" href="/curves/log">Logarithm<br/>(a(log(x))+b)</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <form class="row row-cols-auto align-items-center justify-content-center">
    <div class="mb-3 mb-0-md px-0">
      <label for="a" class="col-form-label py-0 mb-1">a:</label>
      <input
        id="a"
        class="form-control-sm mx-2 pe-0"
        type="number"
        value="1"
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
    <div class="mb-3 mb-0-md px-0">
      <label for="b" class="col-form-label py-0 mb-1">b:</label>
      <input
        id="b"
        class="form-control-sm mx-2 pe-0"
        type="number"
        value={{b}}
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
  </form>
  <div id="graph" />
{% endblock %}

{% block scripts %}
  {{ js_resources|safe }}
  <script type="text/javascript">let math = {{ curve | tojson }};</script>
  <script type="text/javascript" src="{{ url_for('static', path='/curves.js')}}" ></script>
{% endblock %}
