{% extends 'base.html' %}

{% block head %}
  <title>Waves</title>
{% endblock %}

{% block secnav %}
<nav id="secnav" class="navbar navbar-expand sticky-top navbar-light">
  <div class="container">
    <ul class="navbar-nav mt-2 mt-lg-0 font-weight-bold">
      <li class="nav-item" data-value="sin">
        <a class="nav-link" href="/waves/sin">Sin</a>
      </li>
      <li class="nav-item" data-value="cos">
        <a class="nav-link" href="/waves/cos">Cos</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <form class="row align-items-center justify-content-center mb-4">
    <div class="col-auto">
      <label for="coef" class="col-form-label">Frequency:</label>
    </div>
    <div class="col-auto">
      <input
        id="coef"
        class="form-control-sm"
        type="number"
        value="1"
        min="1"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
  </form>
  <div id="graph"/>
{% endblock %}

{% block scripts %}
  {{ js_resources|safe }}
  <script type="text/javascript">let math = {{ wave | tojson }};</script>
  <script type="text/javascript" src="{{ url_for('static', path='/waves.js')}}" ></script>
{% endblock %}
