{% extends 'base.html' %}

{% block head %}
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/waves.css')}}" >
{% endblock %}

{% block content %}
  <h1 class="my-3">Waves</h1>

  <form class="row row-cols-auto align-items-center justify-content-center">
    <div class="mb-3 mb-0-md px-0">
      <label for="math" class="col-form-label py-0 mb-1">Function to Graph:</label>
      <select id="math" class="form-control-sm mx-2" onchange="handleChange()">
        <option value="sin" selected>Sin</option>
        <option value="cos">Cos</option>
      </select>
    </div>
    <div class="mb-3 mb-0-md px-0">
      <label for="coef" class="col-form-label py-0 mb-1">Frequency:</label>
      <input
        id="coef"
        class="form-control-sm mx-2 pe-0"
        type="number"
        value="1"
        min="-10"
        max="10"
        step="1"
        onchange="handleChange()"
      >
    </div>
  </form>
  <br>
  <img id="graph" src="/sin/1">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', path='/waves.js')}}" ></script>
{% endblock %}
